@import "https://fonts.googleapis.com/css?family=Edu NSW ACT Foundation";
[class*="col-"] {
    width: 100%;

}
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

[class*="col-"] {
    padding: 15px;

}

body {
    background: url("../images/background_image.jpeg");
    font-family: Edu NSW ACT Foundation;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.main_pic {
    width: 100%;
}

.title {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.p {
    font-size: 1.3rem;
    text-indent: 20px;
}

footer > p {
    text-align: center;
}

.nav-list {
    list-style: none;
    background-color: #727272;
}

.nav-list > li {
    text-align: center;
}
.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}
.nav-list > li.active {
    background-color: #bd729d;
    color: black;
}
.tag-span {
    text-decoration: underline;
    font-weight: bold;
}

.button {
    background-color: #003556;
    color: white;
    border: none;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.person {
    padding: 10px;
}
.person-info {
    padding: 10px;
    box-shadow: 0px 0px 5px gray;
}
.name {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.photo {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}

.person-info p {
    text-indent: 20px;
    margin-top: 10px;
}

.key-works {
    list-style: inside;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
}
.item {
    margin: 15px;
    padding: 20px;
    border: 5px dashed  #f9b5db;
}
.item h2 {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.7rem;
    text-align: center;
}

.key, .value {
    font-size: 1.1rem;
}
.key {
    margin-top: 20px;
}
.value {
    text-indent: 70px;
    margin-bottom: 30px;
}

.hover {
    transition: 0.3s;
    box-shadow: 0 0 15px gray;
}

.skip {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
.skip:focus {
    transform: translateY(0%);
}